<p>my-learning works!</p>

<h2>
    <ul class="heroes">
        <li *ngFor="let hh of details">
            <span class="badge">{{hh.name}}</span>{{hh.age}} <span>{{hh.gender}}</span><span>{{hh.role}}</span>
        </li>
    </ul>
</h2>
<!-- <h2>{{myHeroess}}</h2>
<h2> Table View of Heros</h2>
<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>age</th>
        <th>role</th>
    </tr>
    <tr *ngFor="let game of details; let i = index">
        <td>{{i + 1}}</td>
        <td>{{game.name}}</td>
        <td>{{game.age}}</td>
        <td>{{game.role}}</td>
    </tr>
</table> -->